/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
  --ripple-position: 50%;
  --spinner-color: #4D96FF;
  --hour-glass-border: 32px;
  --button-primary-color: #000;
  --button-secondary-color: #000;
  --button-primary-hover-color: #262C35;
  --button-secondary-drop-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  --button-secondary-content-color: #3A3A3A;
  --button-primary-content-color: #fff;
  --button-text-content-color: var(--button-primary-color);
  --button-disabled-background-color: #F8F7FA;
  --button-disabled-content-color: #A6A6AA;
}


.adaptive-heading-one {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  font-feature-settings: 'liga' off;
}
.adaptive-heading-two {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 36px;
}
.adaptive-heading-three {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 32px;
}
.adaptive-heading-four {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  font-feature-settings: 'liga' off, 'calt' off;
}
.adaptive-heading-five {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
}
.adaptive-heading-six {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 800;
  font-size: 12px;
  line-height: 12px;
}

.adaptive-typography-body-large {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}
.adaptive-typography-body-regular {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.adaptive-typography-body-small {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}
.adaptive-typography-body-small-alt {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
}
.adaptive-typography-label {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 800;
  font-size: 12px;
  line-height: 16px;
}
.adaptive-typography-hint {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
}
.adaptive-typography-interaction-pill-small {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 800;
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
}
.adaptive-typography-interaction-pill-regular {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}
.adaptive-typography-interaction-button-small {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
}
.adaptive-typography-interaction-button-regular {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
}
button {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;

}
.adaptive-typography-interaction-link-small {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 800;
  font-size: 12px;
  line-height: 16px;
  text-decoration-line: underline;
}
.adaptive-typography-interaction-link-regular {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  text-decoration-line: underline;
}
label {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 800;
  font-size: 12px;
  line-height: 16px;
}
